<div class="page-title-wripper">
  #Reviews@WeBuyGoods
</div>

<div class="main-posts-wraper dinamic">
  <% @posts.each do |post| %>
      <div class="row post-row">
        <div  class="col-sm-2 hidden-xs">
          <div class="date-wraper">
            <div class="day" align="center"> <%= post.created_at.strftime("%d") %> </div>
            <div class="" align="center"> <%= post.created_at.strftime("%b") %> </div>
          </div>
          <div class="type-wrapper">
            <div class="<%=post.label%>"> <%= post.label.upcase  %> </div>
          </div>
        </div>

        <div class="col-sm-10 col-xs-12">
          <div class="posts-wrapper">
            <%= link_to( show_post_path(:title => post.title) ) do %>
                <div class="row">
                  <div class="col-xs-12 image-padding-class">
                    <div class="post-image-wraper">

                      <%= image_tag post.image, :class => "img-responsive" %>

                    </div>
                  </div>
                </div>
            <% end %>
            <div class="post-title">
              <%= link_to( show_post_path(:title => post.title) ) do %>
                  <%= post.title %>
              <% end %>
            </div>
            <% if post.posted_by && post.posted_by != "" %>
                <div class="author-label-wrapper">
                  Posted by: <span>  <%= post.posted_by %> </span>
                </div>
            <% end %>
            <div class="separator">
            </div>
            <p class="post-intro"> <%= post.intro %></p>
          </div>
          <hr/>
        </div>
      </div>
  <% end %>
</div>
