<div class="show-post-wrapper">
<div  class="show-post-title"><%= @post.title %></div>
<span> <%= @post.created_at %>/ by <%= @post.posted_by %> </span>
<div class="show-image-wraper">
  <%= image_tag @post.image, :class => "img-responsive" %>
</div>

<p class="show-main-part-wrapper">
  <%= @post.main_part %>
</p>

</div>


