<header>
<ul class="navbar_ul">
  <li class="brand hidden-xs"> <span> <%= link_to "WeBuyGood$.Com", root_path %> </span> </li>
  <li class="menu_item hidden-xs"><span> <%= link_to "News", root_path %>  </span> </li>
  <li class="menu_item hidden-xs"><span> <%= link_to "$ell", root_path %>  </span> </li>
  <li class="menu_item hidden-xs"><span> <%= link_to "Buy", buy_path %>  </span> </li>
  <li class="menu_item hidden-xs"><span> <%= link_to "About Us", about_us_path %>  </span> </li>
  <li class="menu_item hidden-xs"><span> <%= link_to "Contacts", root_path %>  </span> </li>
</ul>

<div class="mojo-wrapper">
  We provide safe, fast and hassle-free way to get fast cash for your unwanted items. <br/>
</div>
</header>